$title_fsize_ssm: 1rem;
$text_fsize_ssm: 0.7rem;
$title_fsize_sm: 1.5rem;
$text_fsize_sm: 1rem;
$title_fsize_md: 2rem;
$text_fsize_md: 1.3rem;
$title_fsize_xl: 2.3rem;
$text_fsize_xl: 1.8rem;
$title_fsize_xxl: 3.5rem;
$text_fsize_xxl: 2.5rem;
$title_fsize_xxxl: 4rem;
$text_fsize_xxxl: 3rem;